<!--
<div *ngIf="cryptos">
    <div id="crypto-container" *ngFor="let crypto of objectKeys(cryptos)">
      <span class="left">{{ crypto }}</span>
      <span class="right">{{ cryptos[crypto].EUR | currency:'EUR':true}}</span>
    </div>
  </div>
-->
<div id="crypto-container">
  <h2>Konverzija valuta</h2>
  <input id="fromAmount" [(ngModel)]="vrijednost" (ngModelChange)="promjena()" type="text" size="15" [value]="vrijednost"/>
  <select [(ngModel)]="cryptoValue" (ngModelChange)="izmjena()">
    <option *ngFor="let crypto of cryptoCurrencies" [value]="crypto.value">{{crypto.name}}</option>
  </select><br><br>
  <span class="left">EURO</span>
  <span class="right">{{drugiNiz[0]}}</span><br>
  <span class="left">DOLLAR</span>
  <span class="right">{{drugiNiz[1]}}</span><br>
  <span class="left">AUSTALIRA</span>
  <span class="right">{{drugiNiz[2]}}</span><br>
</div>